<h1 mat-dialog-title>导入共享的路径代码</h1>
<div mat-dialog-content>
  <div style="display: flex;">
    <app-path-preview [path]="data.path ?? ''"></app-path-preview>
    <div style="padding:0 32px;">
      <p>
        点击<b>导入</b>按钮将共享的路径代码复制到编辑器中。
      </p>
      <p>
        注意，这会删除任何未保存的更改。
      </p>
    </div>
  </div>
</div>
<div mat-dialog-actions align="end">
  <button mat-raised-button (click)="onCancel()" color="primary">丢弃</button>
  <button mat-raised-button (click)="onConfirm()" color="accent" [disabled]="false">
    导入
  </button>
</div>
